﻿
<div class="card">
    <div class="card-body">
        <form class="mt-4" id="form_createCategory">

            <div class="mb-3">
                <label for="Namecategory" class="form-label">Category Name*</label>
                <input type="text" class="form-control" id="Namecategory" name="Namecategory">
                <span id="validate_Namecategory" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="Description" name="Description">
                <span id="validate_Description" class="text-danger"></span>
            </div>

            <div class="text-end">
                <a class="btn btn-light" asp-controller="Category" asp-action="Index">Cancel</a>
                <button type="submit" class="btn btn-primary btn-block" id="btn_submit">Save</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_createCategory").validate({
        errorClass: "text-danger",
        rules: {
            Namecategory: "required",
            Description: {
                minlength: 10,
                maxlength: 100,
            }
        },
        messages: {
            Namecategory: "Please insert name",
            Description: {
                minlength: "Description must contain 10 - 100 Character",
                maxlength: "Description must contain 10 - 100 Character",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var namecategory = $("#Namecategory").val()
            var description = $("#Description").val()
            var id = 0
            $.ajax({
                url: "/Category/CheckNameIsExist",
                type: "get",
                data: { namecategory: namecategory},
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        toastr.error(
                            'Pastikan data sudah benar',
                            'Data tidak valid',
                        )
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {

        $.ajax({
            url: "/Category/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    toastr.success(
                        'Create Category Success',
                        'Add Category Success',
                    )
                    $("#my_modal").modal("hide")


                    setTimeout(function () {
                        window.location.reload()
                    }, 1500)
                }
                else {
                    toastr.error(
                        'Create Category Failed',
                        'Add Category Failed',
                    )
                }

            }
        })
    }

</script>