﻿@using RMHedon.viewmodels;
@model VMMMenuCategory

<div class="card">
    <div class="card-body">

        <h6>Apakah anda yakin akan menghapus data berikut ?</h6>
        <form class="mt-4" id="form_hapusCategory">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-3">
                <label for="Namecategory" class="form-label">Category Name*</label>
                <input type="text" class="form-control" id="Namecategory" name="Namecategory" value="@Model.Namecategory" readonly>
                <span id="validate_Namebank" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
            </div>

            <div class="text-end">
                <a class="btn btn-light" asp-controller="Category" asp-action="Index">Batal</a>
                <button type="submit" class="btn btn-danger btn-block">Hapus</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_hapusCategory").validate({
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var namecategory = $("#Namecategory").val()
            var id = $("#Id").val()

            $.ajax({
                url: "/Category/SureDelete",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        toastr.success(
                            'Data Kategori berhasil dihapus',
                            'Hapus Kategori berhasil',
                        )
                        $("#my_modal").modal("hide")


                        setTimeout(function () {
                            window.location.reload()
                        }, 1500)

                    }
                    else {
                        toastr.error(
                            'Pastikan data sudah benar',
                            'Data tidak valid',
                        )
                    }

                }

            })
        }
    })
</script>
