﻿@using RMHedon.viewmodels;

@model VMMMenuCategory


<div class="card">
    <div class="card-body">
        <form class="mt-4" id="form_editCategory">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-3">
                <label for="Namecategory" class="form-label">Category Name*</label>
                <input type="text" class="form-control" id="Namecategory" name="Namecategory" value="@Model.Namecategory">
                <span id="validate_Namecategory" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>

            <div class="text-end">
                <a class="btn btn-light" asp-controller="Category" asp-action="Index">Batal</a>
                <button type="submit" class="btn btn-primary btn-block">Simpan</button>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_editCategory").validate({
        errorClass: "text-danger",
        rules: {
            Namecategory: "required",
            Description: {
                minlength: 10,
                maxlength: 100,
            }
        },
        messages: {
            Namecategory: "Please insert name",
            Description: {
                minlength: "Description must contain 10 - 100 Character",
                maxlength: "Description must contain 10 - 100 Character",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var namecategory = $("#Namecategory").val()
            var description = $("#Description").val()
            var id = $("#Id").val()
            $.ajax({
                url: "/Category/CheckNameIsExist",
                type: "get",
                data: { namecategory: namecategory, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        toastr.error(
                            'Data telah tersedia',
                            'Data tidak boleh sama',
                        )
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Category/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    toastr.success(
                        'Kategori berhasil diubah',
                        'Edit Data Kategori berhasil',
                    )
                    $("#my_modal").modal("hide")


                    setTimeout(function () {
                        window.location.reload()
                    }, 1500)
                }
                else {
                    toastr.error(
                        'Gagal Mengubah Data',
                        'Error',
                    )
                }

            }
        })
    }




</script>
