﻿@using RMHedon.viewmodels;

@model VMMMenuVariant

@{
    ViewData["Title"] = "Delete Variant";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Delete" method="post" id="form_DeleteVariant">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="Namevariant" class="col-sm-4 col-form-label">Variant Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Namevariant" name="Namevariant" value="@Model.Namevariant" readonly>
                    <span id="validate_Namevariant" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Category Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Namecategory" name="Namecategory" value="@Model.Namecategory" readonly>
                    <span id="validate_Namevariant" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <div class="text-end">
                    <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Cancel</a>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>


    </div>
</div>


<script>
    $("#form_DeleteVariant").validate({
        submitHandler: function (form) {

            var dataForm = $(form).serialize();
            var namevariant = $("#Namevariant").val()
            var id = $("#Id").val()
            var idCategory = $("#IdCategory").val()

            $.ajax({
                url: "/Variant/SureDelete",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {

                        toastr.success(
                            'Delete Variant Success',
                            'Success',
                        )
                        $("#my_modal").modal("hide")


                        setTimeout(function () {
                            window.location.reload()
                        }, 1500)
                    }
                    else {
                        toastr.error(
                            'Delete Variant Failed',
                            'Failed',
                        )
                    }

                }
            })
        }
    })


</script>
