﻿@using RMHedon.viewmodels;

@model VMMMenuVariant

@{
    ViewData["Title"] = "Edit Variant";
}
<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_EditVariant">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="Namevariant" class="col-sm-4 col-form-label">Variant Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Namevariant" name="Namevariant" value="@Model.Namevariant">
                    <span id="validate_Namevariant" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Category Name</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.ListCategory, "Id", "Namecategory"),
                    "--Select Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <div class="text-end">
                    <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>


    </div>
</div>


<script>
    $("#form_EditVariant").validate({
        errorClass: "text-danger",
        rules: {
            Namevariant: {
                required: true,
                minlength: 3,
            },
            IdCategory: "required"
        },
        messages: {
            Namevariant: {
                required: "Please insert Variant Name",
                minlength: "min 3 characters",
            },
            IdCategory: "Please select Category"
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize();
            var namevariant = $("#Namevariant").val()
            var id = 0
            var idCategory = $("#IdCategory").val()

            $.ajax({
                url: "/Variant/CheckNameIsExist",
                type: "get",
                data: { namevariant: namevariant, id: id, idCategory: idCategory },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Namevariant").text("Variant Name is already exist")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Variant/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {

                    toastr.success(
                        'Edit Variant Success',
                        'Add Variant Success',
                    )
                    $("#my_modal").modal("hide")


                    setTimeout(function () {
                        window.location.reload()
                    }, 1500)
                }
                else {
                    toastr.error(
                        'Edit Variant Failed',
                        'Add Variant Failed',
                    )
                }

            }
        })
    }

</script>
