﻿@using RMHedon.datamodels;
@using RMHedon.viewmodels;

@model PaginatedList<VMMMenuVariant>

@{
    ViewData["Title"] = "List of Variant";

}
<div class="card">

    <div class="mb-3">
        <h3 class="card-header text-bg-primary">@ViewData["Title"]</h3>
    </div>

    <div class="card-body p-4">
        <div class="d-flex justify-content-between mb-5">
            <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                <div class="input-group w-100">
                    <input type="text" name="searchString" value="@ViewBag.currentFilter" class="form-control" placeholder="Variant..." />

                    <div class="input-group-prepend">
                        <button type="submit" class="input-group-text" title="search">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>

                    <div class="input-group-prepend">
                        <a class="input-group-text" asp-action="Index" title="reset">
                            <i class="bi bi-arrow-clockwise"></i>
                        </a>
                    </div>
                </div>
            </form>

            <button class="btn btn-primary btn_tambahVariant">Add Variant</button>

        </div>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                    <tr>
                        <th scope="col" class="border-bottom-0 text-center">
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewBag.NameSort"
                               asp-route-currentFilter="@ViewBag.CurrentFilter"
                               asp-route-pageSize="@ViewBag.PageSize">
                                Name
                            </a>
                            <i class="bi bi-arrow-down-up"></i>
                        </th>
                        <th scope="col" class="border-bottom-0 text-center">
                            <h6 class="fw-semibold mb-0">Category</h6>
                        </th>
                        <th scope="col" class="border-bottom-0 text-center">
                            <h6 class="fw-semibold mb-0">Action</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count != 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <h6 class="fw-semibold mb-0 text-center">@item.Namevariant</h6>
                                </td>
                                <td>
                                    <h6 class="fw-semibold mb-0 text-center">@item.Namecategory</h6>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-warning btn_edit m-2" dataid="@item.Id"><i class="bi bi-pencil-square"></i>  Edit</button>
                                    <button class="btn btn-danger btn_delete m-2" dataid="@item.Id"><i class="bi bi-trash"></i>  Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <h6 class="mb-0">Data Not Found!</h6>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col-3 d-flex">
                <span class="d-flex align-items-center">Size per Page: </span>
                <form asp-action="Index" id="form_pagesize">
                    <select name="PageSize" id="PageSize" class="form-control">
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </div>
            <div class="col-9 d-flex align-items-center justify-content-end">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(".btn_tambahVariant").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Create")
        $("#my_modal").modal("show")
        $("#modal_judul").empty()
        $("#modal_judul").text("Create New Variant")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Edit?id=" + id)
        $("#my_modal").modal("show")
        $("#modal_judul").empty()
        $("#modal_judul").text("Edit Variant")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Delete?id=" + id)
        $("#my_modal").modal("show")
        $("#modal_judul").empty()
        $("#modal_judul").text("Delete Variant")
    })



    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>